* {
  box-sizing: border-box;
}


.info{
	margin-left: 300px;
	margin-right: 400px;
}


.user {
  display: flex;
  justify-content: space-around;
  align-items: ;
  margin-left: 70px;
  font-weight: bold;
}

.user__column {
  display: flex;
  width: 50%;
  padding-top: 15px;
  
}

.user__column .user__column-data {
  width: 100px;
  height: 35px;
  margin-left: 40px;
  margin-right: 50px;
  line-height: 35px;
  text-align: center;
}
