* {
  box-sizing: border-box;
}

input:focus {
	outline: none;
}

body {
}

.userInfo {
	overflow: auto;
}

.userInfo form {
	display: block;
	overflow: auto;
	margin: 0 auto;
	margin-left: 40%;
}


ul {
	display: block;
	margin-bottom: 20px;
}

.userInfo .userInfo__text{
	width: 320px;
	height: 25px;
	padding: 8px;
	text-align: center;
	vertical-align: middle;
}

.userInfo ul li {
	padding: 3px 0px;	
}

.userInfo ul li input,
.userInfo ul li select {
	width: 350px;
	height: 30px;	
}

.userInfo ul li input {
	border: none;
	border-radius: 15px;
	padding-left: 20px;
	padding-top : 5px;
	box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.24);
}

.userInfo ul li select {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none;

}

.searchbtn,
.saveBtn{
	margin: 0 auto;
	border: none;
	padding: 5px 15px;
	color:white;
	border-radius: 15px;
	font-weight: bold;
	box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.24);
}

.searchbtn{
	background-color: #7ed6df;
}

.saveBtn{
	margin-left : 25;
	background-color: #686de0;
}

.changePass-btn{
	margin: 0 auto;
	border: none;
	padding: 5px 15px;
	margin-bottom: 10px;
	color:white;
	border-radius: 15px;
	font-weight: bold;
	box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.24);
	background-color: #eb4d4b;
	margin-left: 15%;
}