@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

.subejct-list {
	display: flex;
	margin : 5px 15% 5px 15%;
	color:white;
}

.subejct-list .subejct-list__box{
	border:none;
	color: gey;
	width: 400px;	
	height: 400px;
	background-color: #9980FA;
	margin: 10px 50px 10px 50px;
	box-shadow: 3px 5px 4px 3px rgba(0, 0, 0, 0.44);
	opacity: 0.7;
}


.box .subejct-list__avatar{
	
	background-color: white;
	width: 500px;
	height:150px;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.24);
}

.subejct-list .subejct-list__description {
	margin-left:5%;
	font-size:18px;
}

.subejct-list .content .box__title {
	font-size: 22px;
	margin:6% 0;
	font-weight:bold;
}

@keyframes mouseHover {
    from {
    	opacity: 0.3;
    }
    to {
    	opacity: 1;
    }
}

.subejct-list .detail_btn {
	float:right;
	margin-right:5%;
    margin-top:16%;
    padding: 6px 10px;
    color: #718093;
    cursor: pointer;
    width: 100px;
    height:50px;
    background-color: white;
    border-radius: 18px;
    font-weight: bold;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.24);
}

.subejct-list .box .detail_btn:hover {
	outline: black;
	animation: mouseHover 1s ease-out forwards;
}