<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	  <typeAliases>
		   	<typeAlias  alias="testVO" type="com.deep.test.TestVO"/>
		   	<typeAlias  alias="userVO" type="com.deep.user.UserVO"/>
		   	<typeAlias  alias="commonVO" type="com.deep.common.CommonVO"/>
		   	<typeAlias  alias="boardVO" type="com.deep.board.BoardVO"/>
		   	<typeAlias  alias="logoVO" type="com.deep.dashboard.LogoVO"/>
	  </typeAliases>
	  <mappers>
	  		<mapper resource="com/deep/config/db/mapper/test.xml"/>
	  		<mapper resource="com/deep/config/db/mapper/user.xml"/>
	  		<mapper resource="com/deep/config/db/mapper/common.xml"/>
	  		<mapper resource="com/deep/config/db/mapper/board.xml"/>
	  </mappers> 
</configuration>