<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	  <typeAliases>
		   	<typeAlias  alias="testVO" type="com.deep.test.TestVO"/>
	  </typeAliases>
	  <mappers>
	  		<mapper resource="com/deep/config/db/mapper/test.xml"/>
	  </mappers>
</configuration>